*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/once_human_screenshot_7.jpg');
    background-size: cover;
}

footer {
    background-color: #f8f9fa;
}
