*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}
/* первый экран */
.hero-section {
    background: url('img/once_human_screenshot_7.jpg') no-repeat center center;
    background-size: cover;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.btn-custom {
    padding: 15px 30px;
    font-size: 1.25rem;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #e35d53;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

/* Отзывы */
.reviews-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviews-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #af4c4c;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.review-card {
    flex: 1 1 calc(33% - 20px);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.review-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.review-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

@media (max-width: 768px) {
    .review-card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .review-card {
        flex: 1 1 100%;
    }

    .reviews-title {
        font-size: 28px;
    }
}
